@model IEnumerable<u19205547_HW03.Models.FileModel>

@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>
<h4>........... "Media/Videos/" folder</h4>

<table class="table">

@foreach (var vid in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => vid.FileName)
            <br/>
            <button class="btn btn-success">
                @Html.ActionLink("DOWNLOAD", "DownloadFile", new { _fileName = vid.FileName }, new { style = "text-decoration:none; color:azure" })

            </button>
            <button class="btn btn-danger">
                @Html.ActionLink("DELETE", "DeleteFile", new { _fileName = vid.FileName }, new { style = "text-decoration:none; color:azure" })
            </button>
        </td>
    </tr>
}

</table>
